<h1><%= post.title %></h1>
<p><%= post.price %></p>
<div><%= post.description %></div>
<div><%= post.location %></div>
<div>
    <% post.images.forEach(function(image) { %>
        <img src="<%= image.url %>" alt="surf board image" width="200px" height="300px">
    <% }); %>
</div>
<div>
    <a href="/posts/<%=post.id%>/edit">
        <button>Edit Post</button>
    </a>
</div>
<div>
    <form action="/posts/<%=post.id%>?_method=DELETE" method="post">
        <input type="submit" value="delete">
    </form>
</div>